[submodule "MBProgressHUD"]
	path = MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD
[submodule "JSONProxy"]
	path = JSONProxy
	url = https://github.com/iolate/JSONProxy
[submodule "SDWebImage"]
	path = SDWebImage
	url = https://github.com/rs/SDWebImage
[submodule "MGSwipeTableCell"]
	path = MGSwipeTableCell
	url = https://github.com/MortimerGoro/MGSwipeTableCell
